@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Slab', serif;
}

body{
    background-color:rgb(5, 5, 5);
}

/* formatação text*/
header{
    color:#fff;
    /*border:solid red 1px;*/
    margin-bottom: 10px;
}

.Em-Cartaz{
    margin-left:150px;
    padding-top: 15px;
    font-family: 'Koulen', cursive !important;
}

.programacao-filmes{
    text-align:center;
}

.text{
    text-transform:uppercase;
    margin-left:35px;    
}
#filmes{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    border:1px solid #000;
    width:850px;
    margin:auto;
    justify-content:space-between;
}

img{
    border-radius:10px;
}

/*figure{ border:solid 1px red; } =====apagar depois====*/
figcaption{
    color:#fff;
    text-align: center;
    padding:5px;
}
.short{
    padding-bottom: 15px;
}